<html>
    <head>
        <title><%=title %></title>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    </head>
    <body>
    <%- partial("_parts/_header") %>
    <div id="main-content" class="container" role="content">
        <%- partial("_parts/_breadcrumb") %>
        <%- yield %>
    </div>
    <%- partial("_parts/_footer") %>
    </body>
</html>
